#form-user{
    margin: 1rem auto;
    max-width: 600px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #eaeaea;
    padding: 1rem 1rem;
}

#list-user{
    margin: 1rem;
    width: 100%;
    padding: 1rem 1rem;
}

.list-users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.card-user{
    border-radius: 3px;
    box-shadow: 0px 0px 5px #eaeaea;
}