@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #7370d8;
  --azulnegro: #212135;
  --negro: #191919;
  --negro2: #44454f;
  --gris: #aaa;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
p,label,li{
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5{
      font-family: 'Montserrat', sans-serif;
}

#container-grid{
    display: grid;
    grid-template:
    "nav" auto
    "banner" 400px
    "descripcion" auto
    "feature" auto
    "ubicacion" auto
    "opinion" auto
    "footer" auto;
}

.button-blue{
  background-color: var(--azuloscuro);
  color: var(--blanco);
  padding: 0.5rem 1rem ;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}
.button-gray{
  background-color: var(--azulnegro);
  color: var(--blanco);
  padding: 0.5rem 1rem ;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}
